version: "3.7"
services:
  db:
    container_name: db
    image: mysql:5.7
    volumes:
      - ./providence-data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=collective
      - MYSQL_ROOT_PASSWORD=rootpass
      - MYSQL_USER=user
      - MYSQL_PASSWORD=pass
    expose:
      - "3306"
    ports:
      - "3306:3306"
    networks:
      - c_network

  backend:
    image: collective-pp2:latest
    environment:
      - DB_HOST=db
      - DB_NAME=collective
      - DB_ROOT_PASSWORD=rootpass
      - DB_USER=user
      - DB_PASSWORD=pass
      - DISPLAY_NAME=caeycae
      - ADMIN_EMAIL=caeycae@gmail.com
    volumes:
        - ./providence-config:/var/www/providence/app/conf
        - ./providence-media:/var/www/providence/media/
    depends_on:
      - db
    ports:
      - "8080:80"
    networks:
      - c_network

volumes:
  db-data:
  providence-config:
  providence-media:

networks:
  c_network:
    name: c_network
    driver: bridge
